<a href="https://colab.research.google.com/github/EvenSol/NeqSim-Colab/blob/master/notebooks/PVT/parameter_database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
%%capture
!pip install neqsim
!pip install wget

In [17]:
%%capture
!wget https://raw.githubusercontent.com/equinor/neqsim/master/src/main/resources/data/COMP.csv
!wget https://raw.githubusercontent.com/equinor/neqsim/master/src/main/resources/data/INTER.csv

In [16]:
import pandas as pd
comp_df = pd.read_csv('COMP.csv')
comp_df

,ID,NAME,CASnumber,COMPTYPE,COMPINDEX,FORMULA,MOLARMASS,LIQDENS,TC,PC,...,CPsolid5,CPliquid1,CPliquid2,CPliquid3,CPliquid4,CPliquid5,MCPR1,MCPR2,MCPR3,PARACHOR_CPA
0,1,methane,74-82-8,HC,1,CH4,16.043,0.422182,-82.590000,45.99,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.392340,0.00000,0.00000,77.300000
1,2,ethane,74-84-0,HC,2,C2H6,30.070,0.544459,32.170000,48.72,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.520050,0.00430,0.10292,108.900000
2,3,Cl-,0-0-0-0,ion,3,Cl-,35.450,0.797000,444.150000,290.89,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.000000,0.00000,0.00000,207.000000
3,4,Na+,0-0-0-0,ion,4,Na+,22.990,0.797000,444.150000,290.89,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.000000,0.00000,0.00000,207.000000
4,5,Mg++,0-0-0-0,ion,5,Mg++,24.310,0.797000,444.150000,290.89,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.000000,0.00000,0.00000,207.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,1183,trans-12-DM-cy-C6,6876-23-9,HC,147,C,112.220,0.422182,322.777002,29.64,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.628820,0.70114,-0.78437,0.000000
190,1184,cis-14-DM-cy-C6,624-29-3,HC,147,C,112.220,0.422182,325.000000,29.64,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.628820,0.70114,-0.78437,0.000000
191,1185,trans-14-DM-cy-C6,2207-04-7,HC,147,C,112.220,0.422182,316.667017,29.64,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.628820,0.70114,-0.78437,0.000000
192,1186,PG,57-55-6,glycol,1186,propyleneglycol,76.095,1.036000,352.850000,61.00,...,0.0,35540.0,436.78,-0.18486,0.0,0.0,0.910030,1.34996,-1.89002,151.817428
193,1187,ammonia,7664-41-7,other,1187,Nh3,17.031,0.730000,132.250000,113.00,...,0.0,105800.0,-362.23,0.93790,0.0,0.0,1.224003,-0.27350,-0.39823,87.543853

Warning: Total number of columns (150) exceeds max_columns (20) limiting to first (20) columns.

# Components

In [29]:
comp_df['NAME']

0                methane
1                 ethane
2                    Cl-
3                    Na+
4                   Mg++
             ...
189    trans-12-DM-cy-C6
190      cis-14-DM-cy-C6
191    trans-14-DM-cy-C6
192                   PG
193              ammonia
Name: NAME, Length: 194, dtype: object

# How to add a new component

In [52]:
component = { 'ID': len(comp_df), 'NAME': 'methane2', 'CASnumber': '74-82-8', 'COMPTYPE': 'HC', 'COMPINDEX': 1000, 'FORMULA':'CH4', 'MOLARMASS':16.04}
newcomp_df = comp_df.append(pd.DataFrame(component, index=[0]))
newcomp_df.to_csv('COMP.csv')
newcomp_df

<ipython-input-52-3eb6424469f8>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  newcomp_df = comp_df.append(pd.DataFrame(component, index=[0]))

,ID,NAME,CASnumber,COMPTYPE,COMPINDEX,FORMULA,MOLARMASS,LIQDENS,TC,PC,...,CPsolid5,CPliquid1,CPliquid2,CPliquid3,CPliquid4,CPliquid5,MCPR1,MCPR2,MCPR3,PARACHOR_CPA
0,1,methane,74-82-8,HC,1,CH4,16.043,0.422182,-82.590000,45.99,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.392340,0.00000,0.00000,77.300000
1,2,ethane,74-84-0,HC,2,C2H6,30.070,0.544459,32.170000,48.72,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.520050,0.00430,0.10292,108.900000
2,3,Cl-,0-0-0-0,ion,3,Cl-,35.450,0.797000,444.150000,290.89,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.000000,0.00000,0.00000,207.000000
3,4,Na+,0-0-0-0,ion,4,Na+,22.990,0.797000,444.150000,290.89,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.000000,0.00000,0.00000,207.000000
4,5,Mg++,0-0-0-0,ion,5,Mg++,24.310,0.797000,444.150000,290.89,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.000000,0.00000,0.00000,207.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,1184,cis-14-DM-cy-C6,624-29-3,HC,147,C,112.220,0.422182,325.000000,29.64,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.628820,0.70114,-0.78437,0.000000
191,1185,trans-14-DM-cy-C6,2207-04-7,HC,147,C,112.220,0.422182,316.667017,29.64,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.628820,0.70114,-0.78437,0.000000
192,1186,PG,57-55-6,glycol,1186,propyleneglycol,76.095,1.036000,352.850000,61.00,...,0.0,35540.0,436.78,-0.18486,0.0,0.0,0.910030,1.34996,-1.89002,151.817428
193,1187,ammonia,7664-41-7,other,1187,Nh3,17.031,0.730000,132.250000,113.00,...,0.0,105800.0,-362.23,0.93790,0.0,0.0,1.224003,-0.27350,-0.39823,87.543853
0,194,methane2,74-82-8,HC,1000,CH4,16.040,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# How to set database path
How to set path to database (if not to use default database)

In [55]:
from neqsim import jNeqSim

jNeqSim.util.NeqSimDatabase.setPath('.')