<a href="https://colab.research.google.com/github/EvenSol/NeqSim-Colab/blob/master/notebooks/PVT/parameter_database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%%capture
!pip install neqsim
!pip install wget

In [2]:
%%capture
!wget https://raw.githubusercontent.com/equinor/neqsim/master/src/main/resources/data/COMP.csv
!wget https://raw.githubusercontent.com/equinor/neqsim/master/src/main/resources/data/INTER.csv

In [3]:
import pandas as pd
comp_df = pd.read_csv('COMP.csv')
comp_df

,ID,NAME,CASnumber,COMPTYPE,COMPINDEX,FORMULA,MOLARMASS,LIQDENS,TC,PC,...,CPsolid5,CPliquid1,CPliquid2,CPliquid3,CPliquid4,CPliquid5,MCPR1,MCPR2,MCPR3,PARACHOR_CPA
0,1,methane,74-82-8,HC,1,CH4,16.043,0.422182,-82.590000,45.99,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.392340,0.00000,0.00000,77.300000
1,2,ethane,74-84-0,HC,2,C2H6,30.070,0.544459,32.170000,48.72,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.520050,0.00430,0.10292,108.900000
2,3,Cl-,0-0-0-0,ion,3,Cl-,35.450,0.797000,444.150000,290.89,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.000000,0.00000,0.00000,207.000000
3,4,Na+,0-0-0-0,ion,4,Na+,22.990,0.797000,444.150000,290.89,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.000000,0.00000,0.00000,207.000000
4,5,Mg++,0-0-0-0,ion,5,Mg++,24.310,0.797000,444.150000,290.89,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.000000,0.00000,0.00000,207.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,1183,trans-12-DM-cy-C6,6876-23-9,HC,147,C,112.220,0.422182,322.777002,29.64,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.628820,0.70114,-0.78437,0.000000
190,1184,cis-14-DM-cy-C6,624-29-3,HC,147,C,112.220,0.422182,325.000000,29.64,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.628820,0.70114,-0.78437,0.000000
191,1185,trans-14-DM-cy-C6,2207-04-7,HC,147,C,112.220,0.422182,316.667017,29.64,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.628820,0.70114,-0.78437,0.000000
192,1186,PG,57-55-6,glycol,1186,propyleneglycol,76.095,1.036000,352.850000,61.00,...,0.0,35540.0,436.78,-0.18486,0.0,0.0,0.910030,1.34996,-1.89002,151.817428
193,1187,ammonia,7664-41-7,other,1187,Nh3,17.031,0.730000,132.250000,113.00,...,0.0,105800.0,-362.23,0.93790,0.0,0.0,1.224003,-0.27350,-0.39823,87.543853

# Components

In [4]:
comp_df['NAME']

0                methane
1                 ethane
2                    Cl-
3                    Na+
4                   Mg++
             ...
189    trans-12-DM-cy-C6
190      cis-14-DM-cy-C6
191    trans-14-DM-cy-C6
192                   PG
193              ammonia
Name: NAME, Length: 194, dtype: object

# How to add a new component

In [5]:
component = { 'ID': len(comp_df), 'NAME': 'methane2', 'CASnumber': '74-82-8', 'COMPTYPE': 'HC', 'COMPINDEX': 1000, 'FORMULA':'CH4', 'MOLARMASS':16.04}
newcomp_df = comp_df.append(pd.DataFrame(component, index=[0]))
newcomp_df.to_csv('COMPupdated.csv')
newcomp_df

<ipython-input-5-306cf15eb095>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  newcomp_df = comp_df.append(pd.DataFrame(component, index=[0]))

,ID,NAME,CASnumber,COMPTYPE,COMPINDEX,FORMULA,MOLARMASS,LIQDENS,TC,PC,...,CPsolid5,CPliquid1,CPliquid2,CPliquid3,CPliquid4,CPliquid5,MCPR1,MCPR2,MCPR3,PARACHOR_CPA
0,1,methane,74-82-8,HC,1,CH4,16.043,0.422182,-82.590000,45.99,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.392340,0.00000,0.00000,77.300000
1,2,ethane,74-84-0,HC,2,C2H6,30.070,0.544459,32.170000,48.72,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.520050,0.00430,0.10292,108.900000
2,3,Cl-,0-0-0-0,ion,3,Cl-,35.450,0.797000,444.150000,290.89,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.000000,0.00000,0.00000,207.000000
3,4,Na+,0-0-0-0,ion,4,Na+,22.990,0.797000,444.150000,290.89,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.000000,0.00000,0.00000,207.000000
4,5,Mg++,0-0-0-0,ion,5,Mg++,24.310,0.797000,444.150000,290.89,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.000000,0.00000,0.00000,207.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,1184,cis-14-DM-cy-C6,624-29-3,HC,147,C,112.220,0.422182,325.000000,29.64,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.628820,0.70114,-0.78437,0.000000
191,1185,trans-14-DM-cy-C6,2207-04-7,HC,147,C,112.220,0.422182,316.667017,29.64,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.628820,0.70114,-0.78437,0.000000
192,1186,PG,57-55-6,glycol,1186,propyleneglycol,76.095,1.036000,352.850000,61.00,...,0.0,35540.0,436.78,-0.18486,0.0,0.0,0.910030,1.34996,-1.89002,151.817428
193,1187,ammonia,7664-41-7,other,1187,Nh3,17.031,0.730000,132.250000,113.00,...,0.0,105800.0,-362.23,0.93790,0.0,0.0,1.224003,-0.27350,-0.39823,87.543853
0,194,methane2,74-82-8,HC,1000,CH4,16.040,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# How to use new table in database 
How to set path to database (if not to use default database)

In [6]:
from neqsim import jNeqSim

jNeqSim.util.database.NeqSimDataBase.updateTable('COMP', '/content/COMPupdated.csv')


#and then use the new component and table

from neqsim.thermo import fluid

fluid1 = fluid('srk')
fluid1.addCOmponent('methane2', 1.0)
TPflash(fluid1)

AttributeError: ignored

# Interaction parameter database

In [7]:
import pandas as pd
inter_df = pd.read_csv('INTER.csv')
inter_df

,ID,COMP1,COMP2,HVTYPE,KIJSRK,KIJTSRK,KIJTType,KIJPR,KIJTPR,KIJPCSAFT,...,cpakijT_SRK,cpakijx_SRK,cpakjix_SRK,cpakij_PR,KIJWSunifac,aijDesMath,bijDesMath,cpaAssosiationType,cpaBetaCross,cpaEpsCross
0,6933.0,water,methane,HV,0.4500,0.0,0.0,0.6510,-1.385,0.0,...,0.002606,-0.827413,-0.827413,0.1612,0.0,0.0,0.0,0.0,0.0,0.0
1,6935.0,ethanol,methane,HV,0.1300,0.0,0.0,0.1300,0.000,0.0,...,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
2,6936.0,MEG,methane,Classic,0.2000,0.0,0.0,0.2000,0.000,0.0,...,0.000000,0.131438,0.070213,0.1340,0.0,0.0,0.0,0.0,0.0,0.0
3,6937.0,DEG,methane,Classic,0.2000,0.0,0.0,0.2000,0.000,0.0,...,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
4,6938.0,TEG,methane,Classic,0.2000,0.0,0.0,0.2000,0.000,0.0,...,0.000000,0.162000,0.130000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1360,8819.0,n-octane,nitrogen,Classic,0.0800,0.0,0.0,0.0800,0.000,0.0,...,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
1361,8820.0,n-nonane,nitrogen,Classic,0.0800,0.0,0.0,0.0800,0.000,0.0,...,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
1362,8821.0,nC10,nitrogen,Classic,0.0800,0.0,0.0,0.0800,0.000,0.0,...,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
1363,8822.0,n-butane,water,HV,0.5000,0.0,0.0,0.5000,0.000,0.0,...,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
1364,8823.0,ammonia,water,Classic,-0.0789,0.0,0.0,-0.0789,0.000,0.0,...,0.000000,-0.153000,-0.153000,-0.1530,0.0,0.0,0.0,0.0,0.0,0.0

Adding a new interaction between methane2 and propane

In [10]:
interNew = { 'ID': len(inter_df), 'COMP1': 'methane2', 'COMP2': 'propane', 'KIJSRK': 0.003}
newinter_df = inter_df.append(pd.DataFrame(interNew, index=[0])).fillna(0)
newinter_df.to_csv('INTERupdated.csv')
newinter_df

<ipython-input-10-1d604ce1aac9>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  newinter_df = inter_df.append(pd.DataFrame(interNew, index=[0])).fillna(0)

,ID,COMP1,COMP2,HVTYPE,KIJSRK,KIJTSRK,KIJTType,KIJPR,KIJTPR,KIJPCSAFT,...,cpakijT_SRK,cpakijx_SRK,cpakjix_SRK,cpakij_PR,KIJWSunifac,aijDesMath,bijDesMath,cpaAssosiationType,cpaBetaCross,cpaEpsCross
0,6933.0,water,methane,HV,0.4500,0.0,0.0,0.6510,-1.385,0.0,...,0.002606,-0.827413,-0.827413,0.1612,0.0,0.0,0.0,0.0,0.0,0.0
1,6935.0,ethanol,methane,HV,0.1300,0.0,0.0,0.1300,0.000,0.0,...,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
2,6936.0,MEG,methane,Classic,0.2000,0.0,0.0,0.2000,0.000,0.0,...,0.000000,0.131438,0.070213,0.1340,0.0,0.0,0.0,0.0,0.0,0.0
3,6937.0,DEG,methane,Classic,0.2000,0.0,0.0,0.2000,0.000,0.0,...,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
4,6938.0,TEG,methane,Classic,0.2000,0.0,0.0,0.2000,0.000,0.0,...,0.000000,0.162000,0.130000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1361,8820.0,n-nonane,nitrogen,Classic,0.0800,0.0,0.0,0.0800,0.000,0.0,...,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
1362,8821.0,nC10,nitrogen,Classic,0.0800,0.0,0.0,0.0800,0.000,0.0,...,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
1363,8822.0,n-butane,water,HV,0.5000,0.0,0.0,0.5000,0.000,0.0,...,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
1364,8823.0,ammonia,water,Classic,-0.0789,0.0,0.0,-0.0789,0.000,0.0,...,0.000000,-0.153000,-0.153000,-0.1530,0.0,0.0,0.0,0.0,0.0,0.0
0,1365.0,methane2,propane,0,0.0030,0.0,0.0,0.0000,0.000,0.0,...,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0

And then use the new interaction

In [ ]:
jNeqSim.util.database.NeqSimDataBase.updateTable('INTER', '/content/INTERupdated.csv')


#and then use the new component and table

from neqsim.thermo import fluid

fluid1 = fluid('srk')
fluid1.addCOmponent('methane2', 1.0)
fluid1.addCOmponent('propane', 1.0)
TPflash(fluid1)
#print(fluid1.getPhase(0).getMIxingRUle().getkij(0,1))

# Update parameters in the database

In [15]:
comp_df.at[0,'TC']=-82.2590000 #updating critical temperature of methane
comp_df.to_csv('COMPupdatedparam.csv')
jNeqSim.util.database.NeqSimDataBase.updateTable('COMP', '/content/COMPupdatedparam.csv')

,ID,NAME,CASnumber,COMPTYPE,COMPINDEX,FORMULA,MOLARMASS,LIQDENS,TC,PC,...,CPsolid5,CPliquid1,CPliquid2,CPliquid3,CPliquid4,CPliquid5,MCPR1,MCPR2,MCPR3,PARACHOR_CPA
0,1.0,methane,74-82-8,HC,1.0,CH4,16.043,0.422182,-82.259000,45.99,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.392340,0.00000,0.00000,77.300000
1,2.0,ethane,74-84-0,HC,2.0,C2H6,30.070,0.544459,32.170000,48.72,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.520050,0.00430,0.10292,108.900000
2,3.0,Cl-,0-0-0-0,ion,3.0,Cl-,35.450,0.797000,444.150000,290.89,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.000000,0.00000,0.00000,207.000000
3,4.0,Na+,0-0-0-0,ion,4.0,Na+,22.990,0.797000,444.150000,290.89,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.000000,0.00000,0.00000,207.000000
4,5.0,Mg++,0-0-0-0,ion,5.0,Mg++,24.310,0.797000,444.150000,290.89,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.000000,0.00000,0.00000,207.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,1184.0,cis-14-DM-cy-C6,624-29-3,HC,147.0,C,112.220,0.422182,325.000000,29.64,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.628820,0.70114,-0.78437,0.000000
191,1185.0,trans-14-DM-cy-C6,2207-04-7,HC,147.0,C,112.220,0.422182,316.667017,29.64,...,0.0,0.0,0.00,0.00000,0.0,0.0,0.628820,0.70114,-0.78437,0.000000
192,1186.0,PG,57-55-6,glycol,1186.0,propyleneglycol,76.095,1.036000,352.850000,61.00,...,0.0,35540.0,436.78,-0.18486,0.0,0.0,0.910030,1.34996,-1.89002,151.817428
193,1187.0,ammonia,7664-41-7,other,1187.0,Nh3,17.031,0.730000,132.250000,113.00,...,0.0,105800.0,-362.23,0.93790,0.0,0.0,1.224003,-0.27350,-0.39823,87.543853
1364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-82.259000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN